{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://rekognition.amazonaws.com/"
        },
        {
            "url": "http://rekognition.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "This is the Amazon Rekognition API reference.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Rekognition",
        "version": "2016-06-27",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rekognition-2016-06-27.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "rekognition"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/rekognition/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Compares a face in the <i>source</i> input image with each of the 100 largest faces detected in the <i>target</i> input image. </p> <note> <p> If the source image contains multiple faces, the service detects the largest face and compares it with each face detected in the target image. </p> </note> <p>You pass the input and target images either as base64-encoded image bytes or as references to images in an Amazon S3 bucket. If you use the AWS CLI to call Amazon Rekognition operations, passing image bytes isn't supported. The image must be formatted as a PNG or JPEG file. </p> <p>In response, the operation returns an array of face matches ordered by similarity score in descending order. For each face match, the response provides a bounding box of the face, facial landmarks, pose details (pitch, role, and yaw), quality (brightness and sharpness), and confidence value (indicating the level of confidence that the bounding box contains a face). The response also provides a similarity score, which indicates how closely the faces match. </p> <note> <p>By default, only faces with a similarity score of greater than or equal to 80% are returned in the response. You can change this value by specifying the <code>SimilarityThreshold</code> parameter.</p> </note> <p> <code>CompareFaces</code> also returns an array of faces that don't match the source image. For each face, it returns a bounding box, confidence value, landmarks, pose details, and quality. The response also returns information about the face in the source image, including the bounding box of the face and confidence value.</p> <p>If the image doesn't contain Exif metadata, <code>CompareFaces</code> returns orientation information for the source and target images. Use these values to display the images with the correct image orientation.</p> <p>If no faces are detected in the source or target images, <code>CompareFaces</code> returns an <code>InvalidParameterException</code> error. </p> <note> <p> This is a stateless API operation. That is, data returned by this operation doesn't persist.</p> </note> <p>For an example, see Comparing Faces in Images in the Amazon Rekognition Developer Guide.</p> <p>This operation requires permissions to perform the <code>rekognition:CompareFaces</code> action.</p>",
                "operationId": "CompareFaces",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "FaceMatches": [
                                            {
                                                "Face": {
                                                    "BoundingBox": {
                                                        "Height": 0.33481481671333313,
                                                        "Left": 0.31888890266418457,
                                                        "Top": 0.4933333396911621,
                                                        "Width": 0.25
                                                    },
                                                    "Confidence": 99.9991226196289
                                                },
                                                "Similarity": 100
                                            }
                                        ],
                                        "SourceImageFace": {
                                            "BoundingBox": {
                                                "Height": 0.33481481671333313,
                                                "Left": 0.31888890266418457,
                                                "Top": 0.4933333396911621,
                                                "Width": 0.25
                                            },
                                            "Confidence": 99.9991226196289
                                        }
                                    },
                                    "properties": {
                                        "FaceMatches": {
                                            "description": "An array of faces in the target image that match the source image face. Each <code>CompareFacesMatch</code> object provides the bounding box, the confidence level that the bounding box contains a face, and the similarity score for the face in the bounding box and the face in the source image.",
                                            "items": {
                                                "description": "Provides information about a face in a target image that matches the source image face analyzed by <code>CompareFaces</code>. The <code>Face</code> property contains the bounding box of the face in the target image. The <code>Similarity</code> property is the confidence that the source image face matches the face in the bounding box.",
                                                "properties": {
                                                    "Face": {
                                                        "description": "Provides face metadata (bounding box and confidence that the bounding box actually contains a face).",
                                                        "properties": {
                                                            "BoundingBox": {
                                                                "description": "Bounding box of the face.",
                                                                "properties": {
                                                                    "Height": {
                                                                        "description": "Height of the bounding box as a ratio of the overall image height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Left": {
                                                                        "description": "Left coordinate of the bounding box as a ratio of overall image width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Top": {
                                                                        "description": "Top coordinate of the bounding box as a ratio of overall image height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Width": {
                                                                        "description": "Width of the bounding box as a ratio of the overall image width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Confidence": {
                                                                "description": "Level of confidence that what the bounding box contains is a face.",
                                                                "format": "float",
                                                                "maximum": 100,
                                                                "minimum": 0,
                                                                "type": "number"
                                                            },
                                                            "Landmarks": {
                                                                "description": "An array of facial landmarks.",
                                                                "items": {
                                                                    "description": "Indicates the location of the landmark on the face.",
                                                                    "properties": {
                                                                        "Type": {
                                                                            "description": "Type of landmark.",
                                                                            "enum": [
                                                                                "eyeLeft",
                                                                                "eyeRight",
                                                                                "nose",
                                                                                "mouthLeft",
                                                                                "mouthRight",
                                                                                "leftEyeBrowLeft",
                                                                                "leftEyeBrowRight",
                                                                                "leftEyeBrowUp",
                                                                                "rightEyeBrowLeft",
                                                                                "rightEyeBrowRight",
                                                                                "rightEyeBrowUp",
                                                                                "leftEyeLeft",
                                                                                "leftEyeRight",
                                                                                "leftEyeUp",
                                                                                "leftEyeDown",
                                                                                "rightEyeLeft",
                                                                                "rightEyeRight",
                                                                                "rightEyeUp",
                                                                                "rightEyeDown",
                                                                                "noseLeft",
                                                                                "noseRight",
                                                                                "mouthUp",
                                                                                "mouthDown",
                                                                                "leftPupil",
                                                                                "rightPupil",
                                                                                "upperJawlineLeft",
                                                                                "midJawlineLeft",
                                                                                "chinBottom",
                                                                                "midJawlineRight",
                                                                                "upperJawlineRight"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "X": {
                                                                            "description": "The x-coordinate from the top left of the landmark expressed as the ratio of the width of the image. For example, if the image is 700 x 200 and the x-coordinate of the landmark is at 350 pixels, this value is 0.5. ",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        },
                                                                        "Y": {
                                                                            "description": "The y-coordinate from the top left of the landmark expressed as the ratio of the height of the image. For example, if the image is 700 x 200 and the y-coordinate of the landmark is at 100 pixels, this value is 0.5.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "Pose": {
                                                                "description": "Indicates the pose of the face as determined by its pitch, roll, and yaw.",
                                                                "properties": {
                                                                    "Pitch": {
                                                                        "description": "Value representing the face rotation on the pitch axis.",
                                                                        "format": "float",
                                                                        "maximum": 180,
                                                                        "minimum": -180,
                                                                        "type": "number"
                                                                    },
                                                                    "Roll": {
                                                                        "description": "Value representing the face rotation on the roll axis.",
                                                                        "format": "float",
                                                                        "maximum": 180,
                                                                        "minimum": -180,
                                                                        "type": "number"
                                                                    },
                                                                    "Yaw": {
                                                                        "description": "Value representing the face rotation on the yaw axis.",
                                                                        "format": "float",
                                                                        "maximum": 180,
                                                                        "minimum": -180,
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Quality": {
                                                                "description": "Identifies face image brightness and sharpness. ",
                                                                "properties": {
                                                                    "Brightness": {
                                                                        "description": "Value representing brightness of the face. The service returns a value between 0 and 100 (inclusive). A higher value indicates a brighter face image.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Sharpness": {
                                                                        "description": "Value representing sharpness of the face. The service returns a value between 0 and 100 (inclusive). A higher value indicates a sharper face image.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Similarity": {
                                                        "description": "Level of confidence that the faces match.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "SourceImageFace": {
                                            "description": "The face in the source image that was used for comparison.",
                                            "properties": {
                                                "BoundingBox": {
                                                    "description": "Bounding box of the face.",
                                                    "properties": {
                                                        "Height": {
                                                            "description": "Height of the bounding box as a ratio of the overall image height.",
                                                            "format": "float",
                                                            "type": "number"
                                                        },
                                                        "Left": {
                                                            "description": "Left coordinate of the bounding box as a ratio of overall image width.",
                                                            "format": "float",
                                                            "type": "number"
                                                        },
                                                        "Top": {
                                                            "description": "Top coordinate of the bounding box as a ratio of overall image height.",
                                                            "format": "float",
                                                            "type": "number"
                                                        },
                                                        "Width": {
                                                            "description": "Width of the bounding box as a ratio of the overall image width.",
                                                            "format": "float",
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Confidence": {
                                                    "description": "Confidence level that the selected bounding box contains a face.",
                                                    "format": "float",
                                                    "maximum": 100,
                                                    "minimum": 0,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "SourceImageOrientationCorrection": {
                                            "description": "<p>The value of <code>SourceImageOrientationCorrection</code> is always null.</p> <p>If the input image is in .jpeg format, it might contain exchangeable image file format (Exif) metadata that includes the image's orientation. Amazon Rekognition uses this orientation information to perform image correction. The bounding box coordinates are translated to represent object locations after the orientation information in the Exif metadata is used to correct the image orientation. Images in .png format don't contain Exif metadata.</p> <p>Amazon Rekognition doesn’t perform image correction for images in .png format and .jpeg images without orientation information in the image Exif metadata. The bounding box coordinates aren't translated and represent the object locations before the image is rotated. </p>",
                                            "enum": [
                                                "ROTATE_0",
                                                "ROTATE_90",
                                                "ROTATE_180",
                                                "ROTATE_270"
                                            ],
                                            "type": "string"
                                        },
                                        "TargetImageOrientationCorrection": {
                                            "description": "<p>The value of <code>TargetImageOrientationCorrection</code> is always null.</p> <p>If the input image is in .jpeg format, it might contain exchangeable image file format (Exif) metadata that includes the image's orientation. Amazon Rekognition uses this orientation information to perform image correction. The bounding box coordinates are translated to represent object locations after the orientation information in the Exif metadata is used to correct the image orientation. Images in .png format don't contain Exif metadata.</p> <p>Amazon Rekognition doesn’t perform image correction for images in .png format and .jpeg images without orientation information in the image Exif metadata. The bounding box coordinates aren't translated and represent the object locations before the image is rotated. </p>",
                                            "enum": [
                                                "ROTATE_0",
                                                "ROTATE_90",
                                                "ROTATE_180",
                                                "ROTATE_270"
                                            ],
                                            "type": "string"
                                        },
                                        "UnmatchedFaces": {
                                            "description": "An array of faces in the target image that did not match the source image face.",
                                            "items": {
                                                "description": "Provides face metadata for target image faces that are analyzed by <code>CompareFaces</code> and <code>RecognizeCelebrities</code>.",
                                                "properties": {
                                                    "BoundingBox": {
                                                        "description": "Bounding box of the face.",
                                                        "properties": {
                                                            "Height": {
                                                                "description": "Height of the bounding box as a ratio of the overall image height.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Left": {
                                                                "description": "Left coordinate of the bounding box as a ratio of overall image width.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Top": {
                                                                "description": "Top coordinate of the bounding box as a ratio of overall image height.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Width": {
                                                                "description": "Width of the bounding box as a ratio of the overall image width.",
                                                                "format": "float",
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Confidence": {
                                                        "description": "Level of confidence that what the bounding box contains is a face.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    },
                                                    "Landmarks": {
                                                        "description": "An array of facial landmarks.",
                                                        "items": {
                                                            "description": "Indicates the location of the landmark on the face.",
                                                            "properties": {
                                                                "Type": {
                                                                    "description": "Type of landmark.",
                                                                    "enum": [
                                                                        "eyeLeft",
                                                                        "eyeRight",
                                                                        "nose",
                                                                        "mouthLeft",
                                                                        "mouthRight",
                                                                        "leftEyeBrowLeft",
                                                                        "leftEyeBrowRight",
                                                                        "leftEyeBrowUp",
                                                                        "rightEyeBrowLeft",
                                                                        "rightEyeBrowRight",
                                                                        "rightEyeBrowUp",
                                                                        "leftEyeLeft",
                                                                        "leftEyeRight",
                                                                        "leftEyeUp",
                                                                        "leftEyeDown",
                                                                        "rightEyeLeft",
                                                                        "rightEyeRight",
                                                                        "rightEyeUp",
                                                                        "rightEyeDown",
                                                                        "noseLeft",
                                                                        "noseRight",
                                                                        "mouthUp",
                                                                        "mouthDown",
                                                                        "leftPupil",
                                                                        "rightPupil",
                                                                        "upperJawlineLeft",
                                                                        "midJawlineLeft",
                                                                        "chinBottom",
                                                                        "midJawlineRight",
                                                                        "upperJawlineRight"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "X": {
                                                                    "description": "The x-coordinate from the top left of the landmark expressed as the ratio of the width of the image. For example, if the image is 700 x 200 and the x-coordinate of the landmark is at 350 pixels, this value is 0.5. ",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Y": {
                                                                    "description": "The y-coordinate from the top left of the landmark expressed as the ratio of the height of the image. For example, if the image is 700 x 200 and the y-coordinate of the landmark is at 100 pixels, this value is 0.5.",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Pose": {
                                                        "description": "Indicates the pose of the face as determined by its pitch, roll, and yaw.",
                                                        "properties": {
                                                            "Pitch": {
                                                                "description": "Value representing the face rotation on the pitch axis.",
                                                                "format": "float",
                                                                "maximum": 180,
                                                                "minimum": -180,
                                                                "type": "number"
                                                            },
                                                            "Roll": {
                                                                "description": "Value representing the face rotation on the roll axis.",
                                                                "format": "float",
                                                                "maximum": 180,
                                                                "minimum": -180,
                                                                "type": "number"
                                                            },
                                                            "Yaw": {
                                                                "description": "Value representing the face rotation on the yaw axis.",
                                                                "format": "float",
                                                                "maximum": 180,
                                                                "minimum": -180,
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Quality": {
                                                        "description": "Identifies face image brightness and sharpness. ",
                                                        "properties": {
                                                            "Brightness": {
                                                                "description": "Value representing brightness of the face. The service returns a value between 0 and 100 (inclusive). A higher value indicates a brighter face image.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Sharpness": {
                                                                "description": "Value representing sharpness of the face. The service returns a value between 0 and 100 (inclusive). A higher value indicates a sharper face image.",
                                                                "format": "float",
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidS3ObjectException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ImageTooLargeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InvalidImageFormatException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "SimilarityThreshold": 90,
                                    "SourceImage": {
                                        "S3Object": {
                                            "Bucket": "mybucket",
                                            "Name": "mysourceimage"
                                        }
                                    },
                                    "TargetImage": {
                                        "S3Object": {
                                            "Bucket": "mybucket",
                                            "Name": "mytargetimage"
                                        }
                                    }
                                },
                                "properties": {
                                    "SimilarityThreshold": {
                                        "description": "The minimum level of confidence in the face matches that a match must meet to be included in the <code>FaceMatches</code> array.",
                                        "format": "float",
                                        "maximum": 100,
                                        "minimum": 0,
                                        "type": "number"
                                    },
                                    "SourceImage": {
                                        "description": "<p>The input image as base64-encoded bytes or an S3 object. If you use the AWS CLI to call Amazon Rekognition operations, passing base64-encoded image bytes is not supported. </p> <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to base64-encode image bytes passed using the <code>Bytes</code> field. For more information, see Images in the Amazon Rekognition developer guide.</p>",
                                        "properties": {
                                            "Bytes": {
                                                "description": "Blob of image bytes up to 5 MBs.",
                                                "maxLength": 5242880,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "S3Object": {
                                                "description": "Identifies an S3 object as the image source.",
                                                "properties": {
                                                    "Bucket": {
                                                        "description": "Name of the S3 bucket.",
                                                        "maxLength": 255,
                                                        "minLength": 3,
                                                        "pattern": "[0-9A-Za-z\\.\\-_]*",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "S3 object key name.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Version": {
                                                        "description": "If the bucket is versioning enabled, you can specify the object version. ",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "TargetImage": {
                                        "description": "<p>The target image as base64-encoded bytes or an S3 object. If you use the AWS CLI to call Amazon Rekognition operations, passing base64-encoded image bytes is not supported. </p> <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to base64-encode image bytes passed using the <code>Bytes</code> field. For more information, see Images in the Amazon Rekognition developer guide.</p>",
                                        "properties": {
                                            "Bytes": {
                                                "description": "Blob of image bytes up to 5 MBs.",
                                                "maxLength": 5242880,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "S3Object": {
                                                "description": "Identifies an S3 object as the image source.",
                                                "properties": {
                                                    "Bucket": {
                                                        "description": "Name of the S3 bucket.",
                                                        "maxLength": 255,
                                                        "minLength": 3,
                                                        "pattern": "[0-9A-Za-z\\.\\-_]*",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "S3 object key name.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Version": {
                                                        "description": "If the bucket is versioning enabled, you can specify the object version. ",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "SourceImage",
                                    "TargetImage"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCollection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a collection in an AWS Region. You can add faces to the collection using the <a>IndexFaces</a> operation. </p> <p>For example, you might create collections, one for each of your application users. A user can then index faces using the <code>IndexFaces</code> operation and persist results in a specific collection. Then, a user can search the collection for faces in the user-specific container. </p> <p>When you create a collection, it is associated with the latest version of the face model version.</p> <note> <p>Collection names are case-sensitive.</p> </note> <p>This operation requires permissions to perform the <code>rekognition:CreateCollection</code> action.</p>",
                "operationId": "CreateCollection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "CollectionArn": "aws:rekognition:us-west-2:123456789012:collection/myphotos",
                                        "StatusCode": 200
                                    },
                                    "properties": {
                                        "CollectionArn": {
                                            "description": "Amazon Resource Name (ARN) of the collection. You can use this to manage permissions on your resources. ",
                                            "type": "string"
                                        },
                                        "FaceModelVersion": {
                                            "description": "Version number of the face detection model associated with the collection you are creating.",
                                            "type": "string"
                                        },
                                        "StatusCode": {
                                            "description": "HTTP status code indicating the result of the operation.",
                                            "minimum": 0,
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "CollectionId": "myphotos"
                                },
                                "properties": {
                                    "CollectionId": {
                                        "description": "ID for the collection that you are creating.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.\\-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CollectionId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateStreamProcessor": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates an Amazon Rekognition stream processor that you can use to detect and recognize faces in a streaming video.</p> <p>Amazon Rekognition Video is a consumer of live video from Amazon Kinesis Video Streams. Amazon Rekognition Video sends analysis results to Amazon Kinesis Data Streams.</p> <p>You provide as input a Kinesis video stream (<code>Input</code>) and a Kinesis data stream (<code>Output</code>) stream. You also specify the face recognition criteria in <code>Settings</code>. For example, the collection containing faces that you want to recognize. Use <code>Name</code> to assign an identifier for the stream processor. You use <code>Name</code> to manage the stream processor. For example, you can start processing the source video by calling <a>StartStreamProcessor</a> with the <code>Name</code> field. </p> <p>After you have finished analyzing a streaming video, use <a>StopStreamProcessor</a> to stop processing. You can delete the stream processor by calling <a>DeleteStreamProcessor</a>.</p>",
                "operationId": "CreateStreamProcessor",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "StreamProcessorArn": {
                                            "description": "ARN for the newly create stream processor.",
                                            "pattern": "(^arn:[a-z\\d-]+:rekognition:[a-z\\d-]+:\\d{12}:streamprocessor\\/.+$)",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Input": {
                                        "description": "Kinesis video stream stream that provides the source streaming video. If you are using the AWS CLI, the parameter name is <code>StreamProcessorInput</code>.",
                                        "properties": {
                                            "KinesisVideoStream": {
                                                "description": "The Kinesis video stream input stream for the source streaming video.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "ARN of the Kinesis video stream stream that streams the source video.",
                                                        "pattern": "(^arn:([a-z\\d-]+):kinesisvideo:([a-z\\d-]+):\\d{12}:.+$)",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Name": {
                                        "description": "An identifier you assign to the stream processor. You can use <code>Name</code> to manage the stream processor. For example, you can get the current status of the stream processor by calling <a>DescribeStreamProcessor</a>. <code>Name</code> is idempotent. ",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.\\-]+",
                                        "type": "string"
                                    },
                                    "Output": {
                                        "description": "Kinesis data stream stream to which Amazon Rekognition Video puts the analysis results. If you are using the AWS CLI, the parameter name is <code>StreamProcessorOutput</code>.",
                                        "properties": {
                                            "KinesisDataStream": {
                                                "description": "The Amazon Kinesis Data Streams stream to which the Amazon Rekognition stream processor streams the analysis results.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "ARN of the output Amazon Kinesis Data Streams stream.",
                                                        "pattern": "(^arn:([a-z\\d-]+):kinesis:([a-z\\d-]+):\\d{12}:.+$)",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "RoleArn": {
                                        "description": "ARN of the IAM role that allows access to the stream processor.",
                                        "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
                                        "type": "string"
                                    },
                                    "Settings": {
                                        "description": "Face recognition input parameters to be used by the stream processor. Includes the collection to use for face recognition and the face attributes to detect.",
                                        "properties": {
                                            "FaceSearch": {
                                                "description": "Face search settings to use on a streaming video. ",
                                                "properties": {
                                                    "CollectionId": {
                                                        "description": "The ID of a collection that contains faces that you want to search for.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_.\\-]+",
                                                        "type": "string"
                                                    },
                                                    "FaceMatchThreshold": {
                                                        "description": "Minimum face match confidence score that must be met to return a result for a recognized face. Default is 70. 0 is the lowest confidence. 100 is the highest confidence.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Input",
                                    "Output",
                                    "Name",
                                    "Settings",
                                    "RoleArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteCollection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the specified collection. Note that this operation removes all faces in the collection. For an example, see <a>delete-collection-procedure</a>.</p> <p>This operation requires permissions to perform the <code>rekognition:DeleteCollection</code> action.</p>",
                "operationId": "DeleteCollection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "StatusCode": 200
                                    },
                                    "properties": {
                                        "StatusCode": {
                                            "description": "HTTP status code that indicates the result of the operation.",
                                            "minimum": 0,
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "CollectionId": "myphotos"
                                },
                                "properties": {
                                    "CollectionId": {
                                        "description": "ID of the collection to delete.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.\\-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "CollectionId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteFaces": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes faces from a collection. You specify a collection ID and an array of face IDs to remove from the collection.</p> <p>This operation requires permissions to perform the <code>rekognition:DeleteFaces</code> action.</p>",
                "operationId": "DeleteFaces",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "DeletedFaces": [
                                            "ff43d742-0c13-5d16-a3e8-03d3f58e980b"
                                        ]
                                    },
                                    "properties": {
                                        "DeletedFaces": {
                                            "description": "An array of strings (face IDs) of the faces that were deleted.",
                                            "items": {
                                                "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                                "type": "string"
                                            },
                                            "maxItems": 4096,
                                            "minItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "CollectionId": "myphotos",
                                    "FaceIds": [
                                        "ff43d742-0c13-5d16-a3e8-03d3f58e980b"
                                    ]
                                },
                                "properties": {
                                    "CollectionId": {
                                        "description": "Collection from which to remove the specific faces.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.\\-]+",
                                        "type": "string"
                                    },
                                    "FaceIds": {
                                        "description": "An array of face IDs to delete.",
                                        "items": {
                                            "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                            "type": "string"
                                        },
                                        "maxItems": 4096,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "CollectionId",
                                    "FaceIds"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteStreamProcessor": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the stream processor identified by <code>Name</code>. You assign the value for <code>Name</code> when you create the stream processor with <a>CreateStreamProcessor</a>. You might not be able to use the same name for a stream processor for a few seconds after calling <code>DeleteStreamProcessor</code>.",
                "operationId": "DeleteStreamProcessor",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the stream processor you want to delete.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_.\\-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeCollection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Describes the specified collection. You can use <code>DescribeCollection</code> to get information, such as the number of faces indexed into a collection and the version of the model used by the collection for face detection.</p> <p>For more information, see Describing a Collection in the Amazon Rekognition Developer Guide.</p>",
                "operationId": "DescribeCollection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "CollectionARN": {
                                            "description": "The Amazon Resource Name (ARN) of the collection.",
                                            "type": "string"
                                        },
                                        "CreationTimestamp": {
                                            "description": "The number of milliseconds since the Unix epoch time until the creation of the collection. The Unix epoch time is 00:00:00 Coordinated Universal Time (UTC), Thursday, 1 January 1970.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "FaceCount": {
                                            "description": "The number of faces that are indexed into the collection. To index faces into a collection, use <a>IndexFaces</a>.",
                                            "minimum": 0,
                                            "type": "integer"
                                        },
                                        "FaceModelVersion": {
                                            "description": "<p>The version of the face model that's used by the collection for face detection.</p> <p>For more information, see Model Versioning in the Amazon Rekognition Developer Guide.</p>",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerError",
[...]
